body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
    position: absolute;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}
section header ul li button{
    background-color: rgb(39, 81, 100);
    border: none;
    outline: none;
    padding: 8px 14px;
    font-size: 14px;
    color: #fff;;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
.main{
    width:580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.main .sarce{
    position: relative;
    width: 100%;
    margin-top: 20px;

}
.sarceh{
    width: 500px;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
    font-size: 16px;

}
.icon{
    position: absolute;
    top: 51%;
    width: 53%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    pointer-events: none;
}
.button{
    margin-top: 20px;
    margin: 0 5px;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 1px solid ;
    outline: none;
    padding: 2px;

}
.button:hover{
    border-radius: 1px solid  ;
    color: #00ff9d;
}
section .futter{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: #ffffff;
}
section .futter .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid ;
}
section .futter .row ul{
    display: flex;
}
section .futter .row ul li{
    list-style: none;
}
section .futter .row ul li a{
    text-decoration: none;
}
